<footer style="padding: 0">
  <div class="container margin_60_40 fix_mobile">
    <div class="row">
      <div class="col-lg-3 col-md-6">
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 data-target="#collapse_3">Contacts</h3>
        <div class="collapse dont-collapse-sm contacts" id="collapse_3">
          <ul>
            <li><i class="icon_house_alt"></i>23, TT-01, HD Mon Urban Area, Ham Nghi Street<br>My Dinh - Ha Noi - Viet Nam</li>
            <li><i class="icon_mobile"></i>024 6253 8829</li>
            <li><i class="icon_mail_alt"></i><a href="#0">online@codegym.vn</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9242911494916!2d105.7660288153323!3d21.035715092915762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1sen!2s!4v1677126900736!5m2!1sen!2s" width="430" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
      <div class="col-lg-3 col-md-6">
      </div>
    </div>
  </div>
</footer>
<!--/footer-->

