<app-admin-nav></app-admin-nav>
<div class="content-wrapper">
  <div class="container-fluid" style="margin-top: 60px">
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header"><i class="fa fa-table" style="padding-right: 10px"></i>Partner List</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; index as i">
              <td>{{i + 1}}</td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td><i *ngIf="user.status == 1; else status_change" class="approved">Active</i>
                <ng-template #status_change>
                  <i *ngIf="user.status == 0" class="cancel">Blocked</i>
                </ng-template>
              </td>
              <td><a *ngIf="user.status == 1; else active_change" href="#" (click)="getIdAndStatus(user.id, 0)"
                     data-toggle="modal" data-target="#blockModal"><strong>Block</strong></a>
                <ng-template #active_change>
                  <a *ngIf="user.status == 0" href="#" (click)="getIdAndStatus(user.id,1)"
                     data-toggle="modal" data-target="#activeModal"><strong>Active</strong></a>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /tables-->
  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<!--Block Modal-->
<div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockModalLabel">Block partner</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to want to block this partner ?</div>
      <div class="modal-body text-danger">**This will delete partner's store and all products</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="#" (click)="activeUser()">Block</a>
      </div>
    </div>
  </div>
</div>

<!--Active Modal-->
<div class="modal fade" id="activeModal" tabindex="-1" role="dialog" aria-labelledby="activeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activeModalLabel">Active partner</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to want to active this partner ?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="#" (click)="activeUser()">Active</a>
      </div>
    </div>
  </div>
</div>


