<app-home-header></app-home-header>
<app-merchant-nav *ngIf="undefined != storeId"></app-merchant-nav>
<nav *ngIf="undefined == storeId" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #1c7a30;position: relative">
  <a class="navbar-brand" href="index.html"><img src="assets/img/logo.svg" alt="" width="167" height="36"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-top: 20px">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="width: 220px;background-color: #e33e3e">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile" [routerLink]="['/detail/user',userId]"  >
        <a class="nav-link nav-custom-out"  style="color: white">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text " >Personal information</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Store">
        <a class="nav-link nav-custom"  style="color: #e31616">
          <i class="fa fa-fw fa-store"></i>
          <span class="nav-link-text " >List of orders</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler" style="width: 220px;background-color: #e33e3e;color: white;border: 0">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal" (click)="logOut()"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row" style="">
  <div class="col-lg-2" style="position: relative;">
  </div>
  <div class="col-lg-10" style="min-height: 700px;padding-top: 18px">
    <div class="container-fluid">
      <table class="table table-hover" style="box-shadow: 5px 5px 5px 5px #8c8484;max-height: 800px;overflow: auto" >
        <tr>
          <th>STT</th>
          <th>Code</th>
          <th>Date</th>
          <th>Store</th>
          <th>Price</th>
          <th>Address</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let p of listPayment,index as index">
          <td>{{index+1}}</td>
          <td class="code" [routerLink]="['/user/payment-detail/payment',p.id]"><i class="fa-solid fa-eye"></i> {{p.code}}</td>
          <td>{{displayDate(p.date)}}</td>
          <td>{{p.store.nameStore}}</td>
          <td>${{p.price}}</td>
          <td>{{p.address.name}}</td>
          <td style="margin: 0">
            <div *ngIf="p.status === 0">
              <div class="btn btn-danger"  style="width: 80%">Canceled</div>
            </div>
            <div *ngIf="p.status === 1">
              <div class="btn btn-warning" style="width: 80%">Pending</div>
            </div>
            <div *ngIf="p.status === 2">
              <div class="btn btn-success"  style="width: 80%">Being shipped</div>
            </div>
            <div *ngIf="p.status === 3">
              <div class="btn btn-success" style="width: 80%">Success</div>
            </div>
          </td>
          <td  style="margin: 0">
            <div *ngIf="p.status === 1">
              <div class="btn btn-danger" style="width: 80%" data-toggle="modal" data-target="#deleteAddressModal"
                   (click)="onModal(p,'cancel')">Cancel</div>
            </div>
            <div *ngIf="p.status === 2">
              <div class="btn btn-success"  style="width: 80%" data-toggle="modal" data-target="#deleteAddressModal"
                   (click)="onModal(p,'success')">Success</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteAddressModal" tabindex="-1" role="dialog" aria-labelledby="deleteAddressModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAddressModalLabel">Order</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" #ofModal>×</span>
        </button>
      </div>
      <div class="modal-body" id="main"></div>
      <div class="modal-footer">
        <a class="btn btn-danger" (click)="onStatusPayment(paymentModal,0)" *ngIf="!check" >Oke</a>
        <a class="btn btn-danger" (click)="onStatusPayment(paymentModal,3)" *ngIf="check" >Oke</a>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
