<app-home-header></app-home-header>
<div class="row" style="margin-top: 55px">
  <div style="background-color: #ee4444;color: whitesmoke;
  min-height: 500px;position: fixed;top: 73px;left: 0;width: 235px">
    <div class="col-md-12" style="text-align: center;font-weight: 600;font-size: 16px">Profile details</div>
    <hr style="padding: 0;margin: 0">
    <div style="padding: 0;margin: 0">
      <ul style="padding: 0 0 0 20px;list-style-type:none">
        <li style="padding-top: 10px;">Personal information</li>
        <li style="padding-top: 10px">List of orders</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-2" style="position: relative;">
  </div>
  <div class="col-lg-10" style="min-height: 600px;padding-top: 18px">
    <div class="container-fluid">
      <table class="table table-hover" style="box-shadow: 5px 5px 5px 5px #8c8484;min-height: 500px" >
        <tr>
          <th>STT</th>
          <th>Code</th>
          <th>Date</th>
          <th>Store</th>
          <th>Price</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let p of listPayment,index as index">
          <td>{{index+1}}</td>
          <td>{{p.code}}</td>
          <td>{{displayDate(p.date)}}</td>
          <td>{{p.store.nameStore}}</td>
          <td>{{p.price}}</td>
          <td>{{p.address.name}}</td>
          <td>{{p.status}}</td>
        </tr>
      </table>
      <!-- Breadcrumbs-->
<!--      <div class="row" style="margin-top: 60px">-->
<!--        <div class="col-md-6">-->
<!--          <div class="box_general padding_bottom">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-user"></i>Profile details</h2>-->
<!--            </div>-->
<!--            <div *ngIf="user?.status == 1; else other_status">-->
<!--              <h4>{{user?.name}}<i class="approved">{{role}}</i></h4>-->
<!--            </div>-->
<!--            <ng-template #other_status>-->
<!--              <h4>{{user?.name}}<i class="pending">Pending for partner</i></h4>-->
<!--            </ng-template>-->
<!--            <ul class="booking_list">-->
<!--              <li><strong>Username</strong>{{user?.username}}</li>-->
<!--              <li><strong>Phone</strong>{{user?.phone}}</li>-->
<!--              <li><strong>Email</strong>{{user?.email}}</li>-->
<!--              <li><strong>Wallet</strong>{{user?.wallet}}</li>-->
<!--            </ul>-->
<!--            <button (click)="boxHiddenShow('editProfile')" class="btn_1 m-1"-->
<!--            ><i class="fa fa-fw fa-edit"></i> Edit Profile-->
<!--            </button>-->
<!--            <button (click)="boxHiddenShow('password')" class="btn_1 m-1"-->
<!--            ><i class="fa fa-fw fa-lock"></i> Change Password-->
<!--            </button>-->
<!--            <button *ngIf="addresses?.length !== 3" (click)="boxHiddenShow('createAddress')" class="btn_1 m-1">-->
<!--              <i class="fa fa-fw fa-address-book"></i> Create Address-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="box_general padding_bottom" id="changePassword" style="display: none">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-lock"></i>Change password</h2>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Old password</label>-->
<!--              <input class="form-control" type="password">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>New password</label>-->
<!--              <input class="form-control" type="password">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Confirm new password</label>-->
<!--              <input class="form-control" type="password">-->
<!--            </div>-->
<!--            <div class="mt-2">-->
<!--              <a href="#0" class="btn_1 medium">Save</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="box_general padding_bottom" id="createAddress" style="display: none">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-address-book"></i>Create Address</h2>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Address</label>-->
<!--              <input class="form-control" type="text" id="address">-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="form-group col-md-6">-->
<!--                <label>District</label>-->
<!--                <input class="form-control" type="text" id="district">-->
<!--              </div>-->
<!--              <div class="form-group col-md-6">-->
<!--                <label>City</label>-->
<!--                <input class="form-control" type="text" id="city">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="mt-2">-->
<!--              <button class="btn_1 medium" (click)="createAddress()">Create</button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="box_general padding_bottom" id="updateAddress" style="display: none">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-address-book"></i>Update Address</h2>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Address</label>-->
<!--              <input class="form-control" type="text" id="addressUpdate">-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="form-group col-md-6">-->
<!--                <label>District</label>-->
<!--                <input class="form-control" type="text" id="districtUpdate">-->
<!--              </div>-->
<!--              <div class="form-group col-md-6">-->
<!--                <label>City</label>-->
<!--                <input class="form-control" type="text" id="cityUpdate">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="mt-2">-->
<!--              <button class="btn_1 medium" (click)="updateAddress()">Update</button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="box_general padding_bottom" id="editProfile" style="display: none">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-edit"></i>Edit profile</h2>-->
<!--            </div>-->
<!--            <form [formGroup]="userForm" (ngSubmit)="updateUser()">-->
<!--              <input type="number" formControlName="id" hidden>-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label>Name</label>-->
<!--                    <input type="text" class="form-control" formControlName="name">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label>Email</label>-->
<!--                    <input type="email" class="form-control" formControlName="email">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label>Phone</label>-->
<!--                    <input type="text" class="form-control" formControlName="phone">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label>Wallet</label>-->
<!--                    <input type="number" class="form-control" formControlName="wallet">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group mt-2" *ngIf="user?.status == 1; else other_message">-->
<!--                <label class="container_check">I want to be a partner-->
<!--                  <input type="checkbox" id="checkboxStatus">-->
<!--                  <span class="checkmark"></span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <ng-template #other_message>-->
<!--                <p class="text-danger">You are pending for becoming a partner and you cannot change profile.</p>-->
<!--              </ng-template>-->
<!--              <div class="mt-2" *ngIf="user?.status == 1">-->
<!--                <button data-toggle="modal" data-target="#updateUserModal" class="btn_1 medium">???</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <div class="box_general padding_bottom">-->
<!--            <div class="header_box version_2">-->
<!--              <h2><i class="fa fa-address-book"></i>Address details</h2>-->
<!--            </div>-->
<!--            <div class="version_2" *ngFor="let a of addresses; index as i">-->
<!--              <h4>Address {{i + 1}}-->
<!--                <button style="border: none"-->
<!--                        (click)="boxHiddenShow('updateAddress'); getAddressById(a.id)" class="pending">Edit-->
<!--                </button>-->
<!--                <button style="border: none"-->
<!--                        (click)="getAddressById(a.id)" data-toggle="modal" data-target="#deleteAddressModal"-->
<!--                        class="cancel">Delete-->
<!--                </button>-->
<!--              </h4>-->
<!--              <ul class="booking_list">-->
<!--                <li><strong>Address</strong>{{a.name.split(", ")[0]}}</li>-->
<!--                <li><strong>District</strong>{{a.name.split(", ")[1]}}</li>-->
<!--                <li><strong>City</strong>{{a.name.split(", ")[2]}}</li>-->
<!--              </ul>-->
<!--              <hr>-->
<!--            </div>-->
<!--            <p class="text-danger m-1" *ngIf="addresses?.length == 3">Maximum number of addresses is 3</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; /box_general&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.container-fluid&ndash;&gt;-->
    </div>
  </div>
</div>
<div class="modal fade" id="deleteAddressModal" tabindex="-1" role="dialog" aria-labelledby="deleteAddressModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAddressModalLabel">Delete address ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to want to delete this address ?</div>
      <div class="modal-footer">
        <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
        <a class="btn btn-danger" >Delete</a>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
