<header class="header black_nav clearfix element_to_stick">
  <div class="container">
    <div id="logo">
      <a routerLink="">
        <img src="assets/img/logo_sticky.svg" width="162" height="35" alt="">
      </a>
    </div>
    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
    <ul class="top_menu">
      <li class="nav-item dropdown" style="border: none">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-cart-shopping" style="padding-right: 15px"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown"
             style="width: 310px;max-height: 700px;margin: 5px;box-shadow: 5px 8px 8px 8px #888888;">
          <h6 class="dropdown-header">Cart :</h6>
          <div class="dropdown-divider"></div>
          <div style="width: 100%;max-height: 500px;min-height: 200px;overflow: auto;">
            <div class="col-md-12" >
              <div >
                <div class="row" style="height: 60px;">
                  <div class="col-md-3">
                    <img src="../../../assets/img/modal_advertise.png" alt="" style="width: 60px;height: 60px">
                  </div>
                  <div class="col-md-7" style="display: flex;">
                  <span style="padding: 8px;font-size: 13px;">name product
                    <p style="margin-top: 5px;font-size: 14px;font-weight: 600">1 x $40.00</p>
                  </span>
                  </div>
                  <div class="col-md-2">
                    <span style="font-size: 20px;font-weight: 400;color: red">X</span>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="clearfix add_bottom_15" style="margin-top: 15px"><strong>Total</strong><span> : $32.00</span>
          </div>
          <div style="margin-right: 15px">
            <p class="btn-cart-custom">View Cart</p>
            <p class="btn-cart-custom-outline ">Checkout</p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="drop_user top_menu">
      <li>
        <div class="dropdown user clearfix">
          <a data-toggle="dropdown">
            <figure><img src="assets/img/avatar1.jpg" alt=""></figure>
            <span style="padding-right: 5px">Nguyen Ngoc Tu </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-content">
              <ul>
                <li><a href="#0"><i class="icon_cog"></i>Dashboard</a></li>
                <li><a href="#0"><i class="fa-brands fa-shopify"></i>Shop</a></li>
                <li><a href="#0"><i class="icon_key"></i>Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /dropdown -->
      </li>
    </ul>
    <!-- /top_menu -->
    <a href="#0" class="open_close">
      <i class="icon_menu"></i><span>Menu</span>
    </a>
    <nav class="main-menu">
      <div id="header_menu">
        <a href="#0" class="open_close">
          <i class="icon_close"></i><span>Menu</span>
        </a>
        <a href="index.html"><img src="assets/img/logo.svg" width="162" height="35" alt=""></a>
      </div>
      <ul>
        <li class="submenu">
          <a href="#0" class="show-submenu">Home</a>
          <ul>
            <li><a href="index-2.html">Search by Keyword</a></li>
            <li><a href="header-cart-top.html">Header Cart Top</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Listing</a>
          <ul>
            <li><a href="order.html">Order</a></li>
            <li><a href="confirm.html">Confirm Order</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Other Pages</a>
          <ul>
            <li><a href="admin_section/index.html" target="_blank">Admin Section</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->
<!-- Sign In Modal -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="modal_header">
    <h3>Sign In</h3>
  </div>
  <form>
    <div class="sign-in-wrapper">
      <div>
        <img src="assets/img/logo_sticky.svg" width="162" height="35" alt="">
      </div>
      <div class="divider"><span></span></div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" id="email">
        <i class="ti-email"></i>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" id="password" value="">
        <i class="ti-lock"></i>
      </div>
      <div class="clearfix add_bottom_15">
        <div class="checkboxes float-left">
          <label class="container_check">Remember me
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
      </div>
      <div class="text-center">
        <input type="submit" value="Log In" class="btn_1 full-width mb_5">
        Don’t have an account? <a href="register.html">Sign up</a>
      </div>
      <div id="forgot_pw">
        <div class="form-group">
          <label>Please confirm login email below</label>
          <input type="email" class="form-control" name="email_forgot" id="email_forgot">
          <i class="icon_mail_alt"></i>
        </div>
        <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
        <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
      </div>
    </div>
  </form>
  <!--form -->
</div>
<!-- /Sign In Modal -->
<script src="assets/js/common_scripts.min.js"></script>
<script src="assets/js/common_func.js"></script>
