<header class="header black_nav clearfix element_to_stick">
  <div class="container">
    <div id="logo">
      <a href="index.html">
        <img src="assets/img/logo_sticky.svg" width="162" height="35" alt="">
      </a>
    </div>
    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
    <ul class="top_menu">
      <li><a href="#sign-in-dialog" id="sign-in" class="login">Sign In</a></li>
      <li>
        <div class="dropdown dropdown-cart">
          <a class="cart_bt"><strong hidden>2</strong></a>
          <div class="dropdown-menu" style="width: 300px; padding: 10px;max-height: 650px;">
            <ul style="overflow: scroll;max-height: 500px;">
              <li>
                <figure><img src="../../../assets/img/hero_in_restaurants_detail.jpg" alt="" width="50" height="50"
                             class="lazy"></figure>
                <strong><span>1x Pizza Napoli</span>$12.00</strong>
                <a href="#0" class="action"><i class="icon_trash_alt"></i></a>
              </li>
            </ul>
            <div class="total_drop">
              <div class="clearfix add_bottom_15"><strong>Total</strong><span>$32.00</span></div>
              <a href="order.html" class="btn_1 outline">View Cart</a>
              <a href="order.html" class="btn_1 " >Checkout</a>
            </div>
          </div>
        </div>
        <!-- /dropdown-cart-->
      </li>
    </ul>
    <ul class="drop_user top_menu">
      <li>
        <div class="dropdown user clearfix">
          <a data-toggle="dropdown">
            <figure><img src="assets/img/avatar1.jpg" alt=""></figure><span style="padding-right: 5px">Nguyen Ngoc Tu </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-content">
              <ul>
                <li><a href="#0"><i class="icon_cog"></i>Dashboard</a></li>
                <li><a href="#0"><i class="fa-brands fa-shopify"></i>Shop</a></li>
                <li><a href="#0"><i class="icon_key"></i>Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /dropdown -->
      </li>
    </ul>
    <!-- /top_menu -->
    <a href="#0" class="open_close">
      <i class="icon_menu"></i><span>Menu</span>
    </a>
    <nav class="main-menu">
      <div id="header_menu">
        <a href="#0" class="open_close">
          <i class="icon_close"></i><span>Menu</span>
        </a>
        <a href="index.html"><img src="assets/img/logo.svg" width="162" height="35" alt=""></a>
      </div>
      <ul>
        <li class="submenu">
          <a href="#0" class="show-submenu">Home</a>
          <ul>
            <li><a href="index-2.html">Search by Keyword</a></li>
            <li><a href="header-cart-top.html">Header Cart Top</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Listing</a>
          <ul>
            <li><a href="order.html">Order</a></li>
            <li><a href="confirm.html">Confirm Order</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Other Pages</a>
          <ul>
            <li><a href="admin_section/index.html" target="_blank">Admin Section</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->
<!-- Sign In Modal -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="modal_header">
    <h3>Sign In</h3>
  </div>
  <form>
    <div class="sign-in-wrapper">
      <div>
        <img src="assets/img/logo_sticky.svg" width="162" height="35" alt="">
      </div>
      <div class="divider"><span></span></div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" id="email">
        <i class="ti-email"></i>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" id="password" value="">
        <i class="ti-lock"></i>
      </div>
      <div class="clearfix add_bottom_15">
        <div class="checkboxes float-left">
          <label class="container_check">Remember me
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
      </div>
      <div class="text-center">
        <input type="submit" value="Log In" class="btn_1 full-width mb_5">
        Don’t have an account? <a href="register.html">Sign up</a>
      </div>
      <div id="forgot_pw">
        <div class="form-group">
          <label>Please confirm login email below</label>
          <input type="email" class="form-control" name="email_forgot" id="email_forgot">
          <i class="icon_mail_alt"></i>
        </div>
        <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
        <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
      </div>
    </div>
  </form>
  <!--form -->
</div>
<!-- /Sign In Modal -->
