<body data-spy="scroll" data-target="#secondary_nav" data-offset="75">

<header class="header_in clearfix">
  <div class="container">
    <div id="logo">
      <a href="index.html">
        <img src="assets/img/logo_sticky.svg" width="140" height="35" alt="">
      </a>
    </div>
    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
    <ul id="top_menu">
      <li><a href="#sign-in-dialog" id="sign-in" class="login">Sign In</a></li>
      <li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
    </ul>
    <!-- /top_menu -->
    <a href="#0" class="open_close">
      <i class="icon_menu"></i><span>Menu</span>
    </a>
    <nav class="main-menu">
      <div id="header_menu">
        <a href="#0" class="open_close">
          <i class="icon_close"></i><span>Menu</span>
        </a>
        <a href="index.html"><img src="img/logo.svg" width="162" height="35" alt=""></a>
      </div>
      <ul>
        <li class="submenu">
          <a href="#0" class="show-submenu">Home</a>
          <ul>
            <li><a href="index.html">Address Autocomplete</a></li>
            <li><a href="index-2.html">Search by Keyword</a></li>
            <li><a href="index-3.html">Home Version 2</a></li>
            <li><a href="index-4.html">Video Bg Fallback Mobile</a></li>
            <li class="third-level"><a href="#0">Sliders - Parallax <strong>New!</strong></a>
              <ul>
                <li><a href="index-6.html">Owl Carousel</a></li>
                <li><a href="index-7.html">Revolution Slider 1</a></li>
                <li><a href="index-8.html">Revolution Slider 2</a></li>
                <li><a href="index-9.html">Youtube/Vimeo Parallax</a></li>
                <li><a href="index-10.html">MP4 Video Parallax</a></li>
                <li><a href="index-11.html">Parallax Image</a></li>
              </ul>
            </li>
            <li><a href="index-12.html">Text Rotator <strong>New!</strong></a></li>
            <li><a href="index-5.html">GDPR Cookie Bar EU Law</a></li>
            <li><a href="header-user-logged.html">Header User Logged</a></li>
            <li><a href="header-cart-top.html">Header Cart Top</a></li>
            <li><a href="modal-advertise.html">Modal 1 Cookie Session</a></li>
            <li><a href="modal-newsletter.html">Modal 2 Cookie Session</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Listing</a>
          <ul>
            <li class="third-level"><a href="#0">List pages</a>
              <ul>
                <li><a href="grid-listing-filterscol.html">List default</a></li>
                <li><a href="grid-listing-filterscol-map.html">List with map</a></li>
                <li><a href="listing-map.html">List side map</a></li>
                <li><a href="grid-listing-masonry.html">List Masonry Filter</a></li>
              </ul>
            </li>
            <li class="third-level"><a href="#0">Detail pages</a>
              <ul>
                <li><a href="detail-restaurant.html">Detail page 1</a></li>
                <li><a href="detail-restaurant-2.html">Detail page 2</a></li>
                <li><a href="detail-restaurant-3.html">Detail page 3</a></li>
                <li><a href="detail-restaurant-4.html">Detail page 4</a></li>
              </ul>
            </li>
            <li class="third-level"><a href="#0">OpenStreetMap</a>
              <ul>
                <li><a href="grid-listing-filterscol-openstreetmap.html">List with map</a></li>
                <li><a href="listing-map-openstreetmap.html">List side map</a></li>
                <li><a href="grid-listing-masonry-openstreetmap.html">List Masonry Filter</a></li>
              </ul>
            </li>
            <li><a href="submit-restaurant.html">Submit Restaurant</a></li>
            <li><a href="submit-rider.html">Submit Rider</a></li>
            <li><a href="order.html">Order</a></li>
            <li><a href="confirm.html">Confirm Order</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#0" class="show-submenu">Other Pages</a>
          <ul>
            <li><a href="admin_section/index.html" target="_blank">Admin Section</a></li>
            <li><a href="404.html">404 Error</a></li>
            <li><a href="help.html">Help and Faq</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="leave-review.html">Leave a review</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="coming_soon/index.html">Coming Soon</a></li>
            <li><a href="login.html">Sign In</a></li>
            <li><a href="register.html">Sign Up</a></li>
            <li><a href="icon-pack-1.html">Icon Pack 1</a></li>
            <li><a href="icon-pack-2.html">Icon Pack 2</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
          </ul>
        </li>
        <li><a href="#0">Buy this template</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->

<main>

  <div class="hero_in detail_page background-image" id="background">
    <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
      <div class="container">
        <div class="main_info">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="head">
                <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
              </div>
              <h1>Pizzeria da Alfredo</h1>
              ITALIAN - 27 Old Gloucester St, 4530 - <a
              href="https://www.google.com/maps/dir/CodeGym,+Ph%E1%BB%91+H%C3%A0m+Nghi,+M%E1%BB%B9+%C4%90%C3%ACnh+1,+M%E1%BB%B9+%C4%90%C3%ACnh+2,+T%E1%BB%AB+Li%C3%AAm,+H%C3%A0+N%E1%BB%99i/Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@29.2934917,17.2423223,3z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x313454b9444c676b:0xe713200541b7456d!2m2!1d105.7682175!2d21.0357101!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3813347!2d48.8481173"
              target="blank">Get directions</a>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6">
              <div class="buttons clearfix">

                <a href="#0" class="btn_hero wishlist"><i class="icon_heart"></i>Wishlist</a>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /main_info -->
      </div>
    </div>
  </div>
  <!--/hero_in-->

  <nav class="secondary_nav sticky_horizontal">
    <div class="container">
      <ul id="secondary_nav">
        <li><a class="list-group-item list-group-item-action" href="#section-1">Main Courses</a></li>
        <li><a class="list-group-item list-group-item-action" href="#section-4">Drinks</a></li>
      </ul>
    </div>
    <span></span>
  </nav>
  <!-- /secondary_nav -->

  <div class="bg_gray">
    <div class="container margin_detail">
      <div class="row">
        <div class="col-lg-8 list_menu">
          <section id="section-1">
            <h4>Main Courses</h4>
            <div class="table_wrapper">
              <table class="table cart-list menu-gallery">
                <thead>
                <tr>
                  <th>
                    Item
                  </th>
                  <th>
                    Price
                  </th>
                  <th>
                    Order
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of listProduct,index as index">
                  <td class="d-md-flex align-items-center">
                    <a type="button" data-toggle="modal" data-target="#exampleModal" style="border-style: outset"
                       (click)="onDetailFood(p)">
                      <img src="../../assets/img/hero_general_2.jpg" alt="" style="width: 60px;height: 60px">
                    </a>
                    <div  style="padding-left: 10px">
                      <h4>{{index + 1}}. {{p.name}}</h4>
                      <p>Category: <a class="btn-success">{{p.productMethod.category.name}}</a></p>
                    </div>
                  </td>
                  <td>
                    <strong>${{p.productMethod.price}}</strong>
                  </td>
                  <td class="options">
                    <a href="#"><i
                      class="icon_plus_alt2"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section id="section-4">
            <h4>Drinks</h4>
            <div class="table_wrapper">
              <table class="table table-striped cart-list menu-gallery">
                <thead>
                <tr>
                  <th>
                    Item
                  </th>
                  <th>
                    Price
                  </th>
                  <th>
                    Order
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of listProductDrinks,index as index">
                  <td class="d-md-flex align-items-center">
                    <a type="button" data-toggle="modal" data-target="#exampleModal" style="border-style: outset"
                       (click)="onDetailFood(p)">
                      <img src="../../assets/img/hero_general_2.jpg" alt="" style="width: 60px;height: 60px">
                    </a>
                    <div class="flex-md-column" style="padding-left: 10px">
                      <h4>{{index + 1}}. {{p.name}}</h4>
                      <p>Category: <a class="btn-success">{{p.productMethod.category.name}}</a></p>

                    </div>
                  </td>
                  <td>
                    <strong>${{p.productMethod.price}}</strong>
                  </td>
                  <td class="options">
                    <a href="#"><i
                      class="icon_plus_alt2"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </section>
          <!-- /section -->
        </div>
        <!-- /col -->

        <div class="col-lg-4" id="sidebar_fixed">
          <div class="box_order mobile_fixed">
            <div class="head">
              <h3>Order Summary</h3>
              <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
            </div>
            <!-- /head -->
            <div class="main">
              <ul class="clearfix">
                <li><a href="#0">1x Enchiladas</a><span>$11</span></li>
                <li><a href="#0">2x Burrito</a><span>$14</span></li>
                <li><a href="#0">1x Chicken</a><span>$18</span></li>
                <li><a href="#0">2x Corona Beer</a><span>$9</span></li>
                <li><a href="#0">2x Cheese Cake</a><span>$11</span></li>
              </ul>
              <ul class="clearfix">
                <li>Subtotal<span>$56</span></li>
                <li>Delivery fee<span>$10</span></li>
                <li class="total">Total<span>$66</span></li>
              </ul>
              <div class="row opt_order">
                <div class="col-6">
                  <label class="container_radio">Delivery
                    <input type="radio" value="option1" name="opt_order" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-6">
                  <label class="container_radio">Take away
                    <input type="radio" value="option1" name="opt_order">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="dropdown day">
                <a href="#" data-toggle="dropdown">Day <span id="selected_day"></span></a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-content">
                    <h4>Which day delivered?</h4>
                    <div class="radio_select chose_day">
                      <ul>
                        <li>
                          <input type="radio" id="day_1" name="day" value="Today">
                          <label for="day_1">Today<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="day_2" name="day" value="Tomorrow">
                          <label for="day_2">Tomorrow<em>-40%</em></label>
                        </li>
                      </ul>
                    </div>
                    <!-- /people_select -->
                  </div>
                </div>
              </div>
              <!-- /dropdown -->
              <div class="dropdown time">
                <a href="#" data-toggle="dropdown">Time <span id="selected_time"></span></a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-content">
                    <h4>Lunch</h4>
                    <div class="radio_select add_bottom_15">
                      <ul>
                        <li>
                          <input type="radio" id="time_1" name="time" value="12.00am">
                          <label for="time_1">12.00<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_2" name="time" value="08.30pm">
                          <label for="time_2">12.30<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_3" name="time" value="09.00pm">
                          <label for="time_3">1.00<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_4" name="time" value="09.30pm">
                          <label for="time_4">1.30<em>-40%</em></label>
                        </li>
                      </ul>
                    </div>
                    <!-- /time_select -->
                    <h4>Dinner</h4>
                    <div class="radio_select">
                      <ul>
                        <li>
                          <input type="radio" id="time_5" name="time" value="08.00pm">
                          <label for="time_1">20.00<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_6" name="time" value="08.30pm">
                          <label for="time_2">20.30<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_7" name="time" value="09.00pm">
                          <label for="time_3">21.00<em>-40%</em></label>
                        </li>
                        <li>
                          <input type="radio" id="time_8" name="time" value="09.30pm">
                          <label for="time_4">21.30<em>-40%</em></label>
                        </li>
                      </ul>
                    </div>
                    <!-- /time_select -->
                  </div>
                </div>
              </div>
              <!-- /dropdown -->
              <div class="btn_1_mobile">
                <a href="order.html" class="btn_1 gradient full-width mb_5">Order Now</a>
                <div class="text-center"><small>No money charged on this steps</small></div>
              </div>
            </div>
          </div>
          <!-- /box_order -->
          <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">View Basket</a></div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bg_gray -->
</main>
<!-- /main -->

<footer>
  <app-home-footer></app-home-footer>
</footer>
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >{{product.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--        <slider image food>-->
          <div>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item " style="justify-content: center; padding: 20px"
                     *ngFor="let img of listImage">
                  <img class="d-block w-100" src="{{img.name}}"
                       alt="Second slide" style="width: 725px; height: 350px ; border-radius: 3%;border-style: outset">
                </div>
                <div class="carousel-item " style="justify-content: center; padding: 20px">
                  <img class="d-block w-100" src="../../assets/img/hero_general_2.jpg"
                       alt="Second slide" style="width: 725px; height: 350px ">
                </div>
                <div class="carousel-item active" style="justify-content: center; padding: 20px">
                  <img class="d-block w-100" src="../../assets/img/hero_general_2.jpg"
                       alt="Second slide" style="width: 725px; height: 350px ">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!--    </>slider image food>-->
          <div style="padding: 10px" >
            <table style="padding: 10px">
              <tr>
                <th class="col col-lg-3">Price</th>
                <td class="col col-lg-7" >${{product.productMethod.price}}</td>
                <td class="col col-lg-2">add cart</td>
              </tr>
              <div>
                <tr>
                  <th class="col col-lg-3" >Category</th>
                  <td class="col col-lg-8" colspan="2" ><p>{{product.productMethod.category.name}}</p></td>
                </tr>
              </div>
              <tr>
                <th class="col col-lg-3" >Description</th>
                <td class="col col-lg-8" colspan="2"><p>{{product.productMethod.description}}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </form>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</body>

