.btn-cart-custom{
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  width: 80%;
  text-align: center;
  background-color: #e34d4d;
  border-radius: 5px;
  border: 0;
  height: 35px;
  padding-top: 7px;
}
.btn-cart-custom:hover{
  font-size: 14px;
  width: 80%;
  text-align: center;
  color: white;
  background-color: #ee4444;
  border-radius: 5px;
  border: 1px solid #e70d0d;
  height: 35px;
  padding-top: 7px;
  /*font-weight: 600;*/
}
.address:hover {
  color: #f56824;

}
.delete:hover {
  color: #575353;
}
.delete {
  color: #2c2626;
}
