<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
  <a class="navbar-brand" [routerLink]="['']"><img src="assets/img/logo.svg" alt="" width="167" height="36"></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
        <a class="nav-link" [routerLink]="['/admin']">
          <i class="fa fa-fw fa-user" style="padding-right: 30px"></i>
          <span class="nav-link-text">Users</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Merchants">
        <a class="nav-link" [routerLink]="['/admin/merchant']">
          <i class="fa fa-fw fa-user" style="padding-right: 30px"></i>
          <span class="nav-link-text">Merchants</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Merchants_pending">
        <a class="nav-link" [routerLink]="['/admin/merchant_pending']">
          <i class="fa fa-fw fa-user" style="padding-right: 30px"></i>
          <span class="nav-link-text">Merchant Pending</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partners">
        <a class="nav-link" [routerLink]="['/admin/partner']">
          <i class="fa fa-fw fa-user" style="padding-right: 30px"></i>
          <span class="nav-link-text">Partner</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partners_pending">
        <a class="nav-link" [routerLink]="['/admin/partner_pending']">
          <i class="fa fa-fw fa-user" style="padding-right: 30px"></i>
          <span class="nav-link-text">Partner Pending</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">

      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()"><i class="fa fa-fw fa-sign-out" style="margin-right: 3px"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>

